:root{
    --fontcolor: #1090CB;
    --blackcolor: #000000;
    --blueaciq: #E8F4FA;
    --blueqapali: #00329B;
    --bordercolor: #C4C4C4;
    --onlinecolor: #08D3BB;
    --fontpopins:'Poppins', sans-serif;
}